<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Note Taker</title>
        <!-- Latest compiled and minified CSS & JS -->
        <link rel="stylesheet"
            href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
        <link rel="stylesheet"
            href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <script src="https://code.jquery.com/jquery.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
        <!-- <link rel="stylesheet" type="text/css" href = './css/style.css'> -->
    </head>

<body>
    <nav class="navbar navbar-dark bg-dark">
        <a class="navbar-brand" href="#">Note Taker
        </a>
      </nav>
      <div class="container">
        <div style="margin-top: 80px;" class="jumbotron text-center">
          <h1 class="display-4">Note Taker <span role="img" aria-label="Memo">📝</span></h1>
          <h4 class="mt-4">Take notes with Express</h4>
          <a class="btn btn-primary btn-lg mt-4" href="/notes" role="button">Get Started</a>
        </div>
      </div>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
      <script src="./js/index.js"></script>
    </body>
    
    </html>