<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Notes</title>
        <!-- Latest compiled and minified CSS & JS -->
        <link rel="stylesheet"
            href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
        <link rel="stylesheet"
            href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <script src="https://code.jquery.com/jquery.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
        <link rel="stylesheet" type="text/css" href = 'css/styles.css'>
    </head>

<body>
  <nav class="navbar navbar-dark bg-info">
    <a class="navbar-brand" href="#">Note Taker
    </a>
    
  </nav>
  <div class="container-fluid">
    <div class="row">
      <div class="col-4 list-container">
        <div class="card">
          <ul class="list-group">
          </ul>
        </div>
      </div>
      <div class="col-8">
        <input class="note-title" placeholder="Note Title" maxlength="28" type="text">
        <textarea class="note-textarea" placeholder="Note Text"></textarea>
        <div class="icons">
            <img class="save-note" src="images/saveicon.png"/>
            
            <img class="new-note" src="images/icons8-ball-point-pen-64.png"/>
            <!-- <img class="delete-note" src="images/47-512.png"/> -->
            <!-- <i class="fas fa-save text-dark save-note bg-secondary"></i>
            <i class="fas fa-pen text-dark new-note bg-secondary"></i> -->
          </div>
      </div>
    </div>
  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script type="text/javascript" src="js/index.js"></script>
</body>

</html>
